* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}

body {
    /* Light Grey Background */
    background-color: rgba(244, 244, 244, 1); 
}

.navBar {
    display: flex;
    padding: 10px;
    /* Your original Brand Green */
    background-color: rgb(27, 179, 70); 
    justify-content: center;
    gap: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 25%;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.btn-nav {
    padding: 10px 20px;
    font-size: 16px;
    /* Dark Grey Button */
    background-color: rgba(42, 42, 42, 1); 
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 8px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-nav:hover {
    
    background-color: rgba(68, 68, 68, 1); 
}

.container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
    text-align: center;
}

.search-bar input {
    width: 100%;
    max-width: 400px;
    padding: 12px 20px;
    border-radius: 25px;
    border: 1px solid rgba(204, 204, 204, 1);
}

.hidden {
    display: none;
}



.dropdown {
    position: relative;
    display: inline-block;
}


.dropdownMenu {
    display: none; 
    position: absolute;
    background-color: rgba(42, 42, 42, 1);
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 10;
    margin-top: 5px;
    padding: 5px 0;
}

.dropdown-toggle {
    position: absolute;
    padding: 10px 20px;
    font-size: 16px;
    /* Dark Grey Button */
    background-color: rgba(42, 42, 42, 1); 
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 8px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    transition: background-color 0.2s;
}

.dropDown-item {
    color: rgba(255, 255, 255, 1);
    padding: 10px 15px;
    display: block;
    text-align: left;
    font-size: 14px;
}


.show-menu{
    display: block;
}
.dropDown-item:hover {
    background-color: rgba(68, 68, 68, 1);
}


.dropdown:hover .dropdownMenu {
    display: block;
}

.title {
    justify-self: center;
font-size: xx-large;
margin-top: 10px;
}

header {
    background-color: rgb(14, 147, 65);
    margin-bottom: 5px;
    margin-top: 5px;
    justify-content: center;
    align-content: center;

}